<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>YearBook - Tópicos Especiais</h1>
        <p>Esta aplicação é um anuário ou yearbook. É um tipo de um livro publicado anualmente, com o perfil dos estudantes comemorar o ano passado de uma escola. Muitas faculdades, e muitas escolas de ensino médio em alguns países como Canadá, E.U.A. e Austrália publicam anuários.</p>
        </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>Página Principal:</h2>
          <p>A página principal do sistema deve conter uma breve apresentação do site e mostrar algumas
				fotos em formato thumbnail e nomes de pessoas participantes. Essas fotos devem conter os links para
				os perfis dessas pessoas, mas para acessá-los é necessário estar logado no sistema. </p>
        </div>
        
      </div>

      <hr>

      <footer>
        <p>Trabalho de Tópicos Especiais em Computação - Anuário 2014/2</p>
      </footer>
    </div> <!-- /container -->